@use "./global.scss" as g;
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

.contact-wrapper {
	width: 100%;
}
.contact-content {
	margin-block: g.$Half;
	width: 100%;
	display: grid;
	gap: g.$Half;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.contact-content-element {
	width: 100%;
	position: relative;
	background-color: c.$deepblack;
	border-radius: g.$Corner;
	padding: g.$Double;
	color: c.$gray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
	mask-image: radial-gradient(white, black);
	-webkit-mask-image: -webkit-radial-gradient(white, black);
	border: 1px solid rgba(255, 255, 255, 0.123);
	svg {
		//stroke: c.$white;
		fill: c.$white;
		width: 62px;
		position: relative;
		z-index: 4;
		opacity: 70%;
	}
}
.content-element-text {
	position: relative;
	z-index: 4;
	display: flex;
	flex-direction: column;
	gap: g.$Half;
	will-change: transform;
	color: c.$gray;
	p {
		opacity: 70%;
		font-weight: 400;
	}
}
@media only screen and (max-width: 600px) {
	.contact-content-element {
		padding: g.$Full;
	}
}
.element-hover {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(90deg, #091c19 0%, #335e57 98%);
}
.blue {
	background: linear-gradient(90deg, #0900ff 0%, #1a1a1a 99%);
}
.green {
	background: linear-gradient(90deg, #fb3d3d 0%, #335e57 99%);
}
