@font-face {
	src: url(../fonts/PPNeueMontreal-Book.woff2);
	font-family: "Montreal";
	font-feature-settings: "ss02";
	font-style: normal;
	font-weight: 400;
}
@font-face {
	src: url(../fonts/PPNeueMontreal-Regular.woff2);
	font-family: "Montreal";
	font-feature-settings: "ss02";
	font-style: normal;
	font-weight: 500;
}
@font-face {
	src: url(../fonts/PPNeueMontreal-Medium.woff2);
	font-family: "Montreal";
	font-feature-settings: "ss02";
	font-style: normal;
	font-weight: 600;
}
@font-face {
	src: url(../fonts/PPNeueMontreal-Bold.woff2);
	font-feature-settings: "ss02";
	font-family: "Montreal";
	font-style: normal;
	font-weight: 700;
}

$h1: 11.089rem;
//$h2: 4.236rem;
$h2: clamp(2rem, 8vw, 2.618rem);
$h3: clamp(2rem, 8vw, 2.618rem);
$h4: 1.618rem;
$b: 1rem;
$s: clamp(0.625rem, 3vw, 1rem);

h1 {
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-weight: 600;
	font-size: $h1;
	letter-spacing: -9;
	line-height: 1.1;
}
h2 {
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-weight: 600;
	font-size: $h2;
	letter-spacing: -1;
	line-height: 1.1;
}
h3 {
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-weight: 600;
	font-size: $h3;
	letter-spacing: -1;
	line-height: 1.1;
}

h4 {
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-weight: 600;
	font-size: $h4;
	letter-spacing: -0.2;
	line-height: 1.1;
}
p {
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-size: $b;
	font-weight: 400;
}

a {
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-size: $b;
	font-weight: 500;
}
