@use "./fonts.scss" as f;
@use "./colors.scss" as c;

$One: 0.6rem;
$Corner: 1rem;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html,
body {
	scroll-behavior: initial;
	background-color: black;
}
body {
	width: 100%;
	min-height: 100%;
	height: auto;
}
body::-webkit-scrollbar {
	display: none;
}
::selection {
	color: #e4c40d;
	background: #4c0de4;
}

.container {
	max-width: 1920px;
	width: 100%;
	padding-inline: $One;
	margin-inline: auto;
}
a {
	text-decoration: none;
	color: c.$black;
}
button {
	all: unset;
}
