@use "./global.scss" as g;
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

#loading-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: c.$black;
	//background-image: url(../img/E5401_06.jpg);
	z-index: 4;
	padding: g.$One;
	background: linear-gradient(180deg, #091c19 0%, #335e57 98%);
}
#progress {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.progress-bar-wrap {
	width: 100%;
	max-width: 400px;
	height: 5px;
	background-color: c.$deepblack;
	overflow-x: hidden;
	border-radius: 10px;
}

#progress-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: #edff7b;
	transform: translateX(-100%);
	//border-radius: 10px;
}

.progress-count-wrap {
	margin: 20px;
	text-align: center;
	color: #edff7b;
	font-size: 1rem;
	font-family: "Montreal", sans-serif;
}

#progress-count {
	margin: 10px;
	font-size: 3rem;
	color: #edff7b;
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
}
