@use "./global.scss" as g;
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

.project-modal {
	z-index: 9;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #091c19;
	visibility: hidden;
	padding: g.$Half;
}

.project-modal-wrapper {
	scroll-behavior: initial;
	width: 100%;
	max-width: 1200px;
	height: 100%;
	border-radius: g.$Corner;
	overflow: scroll;
	overscroll-behavior: contain;
	position: relative;
}
.project-modal-wrapper::-webkit-scrollbar {
	display: none;
}
.project-modal-content {
	width: 100%;
	max-width: 1200px;
	margin-inline: auto;
	min-height: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: g.$Half;
}

.project-modal-hero {
	width: 100%;
	//height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	position: relative;
	padding: g.$Double;
	padding-top: 4rem;
}
.modal-hero-text-wrapper {
	//margin-bottom: g.$One;
	overflow: hidden;
	color: c.$white;

	h4 {
		color: c.$white;
		font-weight: 400;
	}
}

.project-modal-image {
	width: 100%;
	display: grid;
	gap: g.$Half;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	img {
		width: 100%;
		border-radius: g.$Corner;
		object-fit: cover;
	}
}
.project-modal-text {
	width: 100%;
	border-radius: g.$Corner;
	background-color: c.$black;
	padding: g.$Double;
	h3 {
		color: c.$white;
		padding-bottom: g.$One;
	}
	p {
		color: c.$white;
		max-width: 75ch;
	}
}
.project-modal-close {
	width: calc(100% - g.$Double);
	max-width: calc(1200px - g.$One);
	position: fixed;
	z-index: 5;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	top: g.$One;
	left: 0;
	right: 0;
	margin-inline: auto;
	padding: g.$One;
	background-color: rgba(118, 118, 118, 0.6);
	border-radius: 1.36rem;
	backdrop-filter: blur(40px);
	border: 1px solid rgba(255, 255, 255, 0.1);
	svg {
		width: 32px;
		cursor: pointer;
		opacity: 50%;
	}
	p {
		color: c.$white;
		padding-left: g.$Half;
		font-weight: 600;
		font-size: 0.825rem;
		span {
			font-weight: 300;
		}
	}
}
.video-wrapper {
	width: 100%;
	position: relative;
	cursor: pointer;
	video {
		width: 100%;
		border-radius: g.$Corner;
		margin-bottom: -4px;
	}
}
.play-pause-button {
	z-index: 4;
	pointer-events: none;
	position: absolute;
	bottom: g.$One;
	left: g.$One;
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 100vw;
	background-color: rgba(118, 118, 118, 0.6);
	backdrop-filter: blur(40px);
	img {
		opacity: 90%;
		width: 100%;
		position: absolute;
	}
}
.first {
	padding-top: 72px;
}
