@use "./global.scss" as g;
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

.project-modal {
	z-index: 9;
	position: fixed;
	width: 100%;
	height: 100svh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: c.$deepblack;
	visibility: hidden;
	padding: g.$One/2;
}

.project-modal-wrapper {
	scroll-behavior: initial;
	width: 100%;
	max-width: 1920px;
	height: 100%;
	border-radius: g.$Corner;
	overflow: scroll;
	overscroll-behavior: contain;
}
.project-modal-wrapper::-webkit-scrollbar {
	display: none;
}
.project-modal-content {
	width: 100%;
	min-height: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: g.$One/2;
}

.project-modal-hero {
	width: 100%;
	height: 100svh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
}
.modal-hero-text-wrapper {
	margin-bottom: g.$One;
	overflow: hidden;
	color: c.$white;
	h4 {
		color: c.$gray;
		font-weight: 400;
	}
}

.project-modal-image {
	width: 100%;
	display: grid;
	gap: g.$One/2;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	img {
		width: 100%;
		border-radius: g.$Corner;
		object-fit: cover;
	}
	video {
		width: 100%;
		border-radius: g.$Corner;
	}
}
.project-modal-text {
	width: 100%;
	border-radius: g.$Corner;
	background-color: c.$black;
	padding: g.$One * 2;
	h3 {
		color: c.$white;
		padding-bottom: g.$One;
	}
	p {
		color: c.$white;
		max-width: 75ch;
	}
}
.project-modal-close {
	cursor: pointer;
	position: fixed;
	z-index: 5;
	top: g.$One * 2;
	right: g.$One * 2;
	svg {
		width: 32px;
	}
}
.video-wrapper {
	width: 100%;
	position: relative;
	cursor: pointer;
}
.play-pause-button {
	z-index: 4;
	pointer-events: none;
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 100vw;
	background-color: c.$gray;
	img {
		opacity: 90%;
		width: 100%;
		position: absolute;
	}
}
