@use "./global.scss" as g;
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

.work-wrapper {
	width: 100%;
}
.work-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: g.$One;
}
.project-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #eaecef;
	border-radius: g.$One;
	overflow: hidden;
}
.dark {
	background-color: #000000;
	.project-tittle {
		h3 {
			color: c.$white;
		}
	}
	.project-description {
		p {
			color: c.$white;
		}
	}
	.project-button {
		background-color: c.$white;
		color: c.$black;
	}
}
.project-image {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
	}
}
.project-info-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: g.$One * 2;
}
@media only screen and (max-width: 600px) {
	.project-info-wrapper {
		padding: g.$One;
		margin-bottom: 2rem;
	}
}
.project-text-wrapper {
	display: flex;
	flex-direction: column;
}
.project-tittle {
	overflow: hidden;
	color: c.$black;
}
.project-description {
	overflow: hidden;
	color: c.$black;
}
.project-button {
	cursor: pointer;
	padding-inline: g.$One * 2;
	padding-block: g.$One;
	border-radius: calc(g.$One / 1.5);
	background-color: c.$black;
	color: c.$white;
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-size: f.$b;
	font-weight: 600;
}

.project-modal {
	z-index: 9;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	visibility: hidden;
	padding: g.$One;
}

.project-modal-wrapper {
	scroll-behavior: initial;
	width: 100%;
	max-width: 1920px;
	height: 100%;
	border-radius: g.$One;
	overflow-y: scroll;
	overscroll-behavior: contain;
}
.project-modal-wrapper::-webkit-scrollbar {
	display: none;
}
.project-modal-content {
	width: 100%;
	min-height: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: g.$One;
}
.project-modal-image {
	width: 100%;
	display: grid;
	gap: g.$One;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	img {
		width: 100%;
		border-radius: g.$One;
		object-fit: cover;
	}
}
.project-modal-text {
	width: 100%;
	border-radius: g.$One;
	background-color: black;
	padding: g.$One * 2;
	h3 {
		color: c.$white;
		padding-bottom: g.$One;
	}
	p {
		color: c.$gray;
	}
}
.project-modal-close {
	padding-inline: g.$One * 2;
	padding-block: g.$One;
	cursor: pointer;
	position: fixed;
	z-index: 5;
	top: g.$One * 2;
	right: g.$One * 2;
	background-color: c.$black;
	border-radius: calc(g.$One / 1.5);
	a {
		//padding-inline: g.$One * 2;
		//padding-block: g.$One;
		font-weight: 700;
		color: c.$white;
	}
}
