@use "./global.scss" as g;
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

.work-wrapper {
	width: 100%;
}
.work-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: g.$One;
}
.project-wrapper {
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #eaecef;
	border-radius: g.$One;
	overflow: hidden;
}
.dark {
	background-color: #000000;
	.project-tittle {
		h3 {
			color: c.$white;
		}
	}
	.project-description {
		p {
			color: c.$white;
		}
	}
	.project-button {
		background-color: c.$white;
		color: c.$black;
	}
}
.project-image {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	img {
		width: 100%;
	}
}
.project-info-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: g.$One * 2;
}
@media only screen and (max-width: 600px) {
	.project-info-wrapper {
		padding: g.$One;
		margin-bottom: 2rem;
	}
}
.project-text-wrapper {
	display: flex;
	flex-direction: column;
}
.project-tittle {
	overflow: hidden;
	color: c.$black;
}
.project-description {
	overflow: hidden;
	color: c.$black;
}
.project-button {
	cursor: pointer;
	padding-inline: g.$One * 2;
	padding-block: g.$One;
	border-radius: calc(g.$One / 1.5);
	background-color: c.$black;
	color: c.$white;
	font-family: "Montreal", sans-serif;
	font-variant-numeric: slashed-zero;
	font-variant-ligatures: normal;
	font-size: f.$b;
	font-weight: 600;
}
