@use "./global.scss" as g;
@use "./fonts.scss" as f;
@use "./colors.scss" as c;

.work-wrapper {
	width: 100%;
}
.work-content {
	width: 100%;
	display: grid;
	gap: g.$Half;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.project-wrapper {
	width: 100%;
	min-width: 200px;
	display: flex;
	flex-direction: column;
	//background-color: c.$white;
	border-radius: g.$Corner;
	overflow: hidden;
}
.dark {
	background-color: c.$deepblack;
	border: 1px solid rgba(255, 255, 255, 0.123);
	.project-tittle {
		h3 {
			color: c.$gray;
		}
	}
	.project-description {
		p {
			color: c.$gray;
		}
	}
	.project-button {
		background-color: c.$black;
		color: c.$black;
	}
}
.project-image {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	padding: g.$Half;
	cursor: pointer;
	will-change: transform;
	img {
		width: 100%;
		max-height: 500px;
		object-fit: contain;
		border-radius: 1.28rem;
	}
}
.project-info-wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: g.$Double;
	//background-color: c.$black;
}
@media only screen and (max-width: 600px) {
	.project-info-wrapper {
		padding: g.$Full;
		//margin-bottom: 2rem;
	}
}
.project-text-wrapper {
	display: flex;
	flex-direction: column;
}
.project-tittle {
	overflow: hidden;
	color: c.$black;
}
.project-description {
	overflow: hidden;
	color: c.$black;
}
